/* Global styles */
:root {
    --primary-color:cyan;
    --dark-color:  darkgrey;
    --light-color: white;
    --danger-color:red;
    --success-color:green;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex {
    display:flex;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

/* Text styles */
.x-large {
    font-size:4rem;
}

.large {
    font-size:3rem;
}

.lead {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem;
}

.text-primary {
    color:var(--light-color);
}

.text-dark {
    color:black;
}

.text-center {
    text-align: center;
}
/* Margins */

.m {
    margin:0.5rem;
}
.m-1 {
    margin:1rem;
}
.m-1_5 {
    margin:1.5rem;
}
.m-2 {
    margin:2rem;
}
.m-3 {
    margin:3rem;
}


.my {
	margin: 0.5rem 0;
}
.my-1 {
	margin: 1rem 0;
}
.my-1_5 {
	margin: 1.5rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}


.mx {
	margin: 0 0.5rem;
}
.mx-1 {
	margin: 0 1rem;
}
.mx-1_5 {
	margin: 0 1.5rem;
}
.mx-2 {
	margin: 0 2rem;
}
.mx-3 {
	margin: 0 3rem;
}

/* paddings */

.p {
    padding:0.5rem;
}
.p-1 {
    padding:1rem;
}
.p-1_5 {
    padding:1.5rem;
}
.p-2 {
    padding:2rem;
}
.p-3 {
    padding:3rem;
}


.py {
	padding: 0.5rem 0;
}
.py-1 {
	padding: 1rem 0;
}
.py-1_5 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}


.px {
	padding: 0 0.5rem;
}
.px-1 {
	padding: 0 1rem;
}
.px-1_5 {
	padding: 0 1.5rem;
}
.px-2 {
	padding: 0 2rem;
}
.px-3 {
	padding: 0 3rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    margin:0 auto;
    background: rgb(245, 242, 242);
    /* background-image: url("./imgs/background.png");
    background-position: center;
    background-size: cover; */
}

main {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

a {
    text-decoration: none;
    color: black;
}

/*** Header and navbar ***/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80px;
    border-bottom: 1px solid lightgrey;
    max-width: 750px;
}

@media (max-width: 770px) {
    .header {
        padding: 0 10px;
    }
}

/* Logo */
.logo-img {
    width: 4rem;
    border-radius: 5px;
}

/* Navbar */
.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
}

.nav-btn {
    font-size: 1.4rem;
    /* font-weight: bold; */
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0.8rem 1.2rem;
}

.nav-btn:hover {
    background-color: rgb(199, 229, 238);
    border-radius: 5px;
}

ul {
    list-style: none;
}