/* Digital Clock */

.main-contact {
    margin:auto 0;
}

.container-digital {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #ebf3a7;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
    margin:1rem 0;
    text-align: center;
    box-shadow: 3px 3px 5px 2px #888888;
    height: 45rem;
    overflow: auto;
}

@media (max-width:800px) {
    .container-digital {
        max-width: 95%;
    }
}

.finance-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


/* payment data */

.new-item-form {
    display: flex;
    flex-direction: column;
   
}

.finance-data {
    justify-content: space-between;
    margin-bottom: 0.3rem;
    flex-wrap: wrap;
}

.finance-description {
    justify-content: space-between;
    align-items: flex-end;
    
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 10px;
}

#payment-amount {
    max-width: 5rem;
}

#payment-details {
    width: 23rem;
    margin-bottom: 1.5rem;
}
label {
    display: block;
    /* font-weight: bold; */
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0.1rem;
}

input, select{
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

input {
    margin-top: 1px;
}

.finance-errorContainer {
    height: 2rem;
    color: rgb(196, 79, 79);
    font-weight: bold;
}




/* List of payments */

.paymentList {
    padding: 0;
    list-style-type: none;
    width:35rem
}

.li-finance {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.5rem;
}

.li-finance div {
    display: flex;
    justify-content: space-between;
}

.li-finance div h4 {
    text-align: left;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: darkgreen;
}

.li-finance div span {
    font-weight: bold;
}

.li-finance p {
    text-align: left;
    font-size: 1.1rem;
    max-width: 30rem;
}

.deleteFinance {
    outline: none;
    border: none;
    padding: 0.2rem 0.8rem;
    color: #444444;
    border-radius: 5px;
    cursor: pointer;
}


/* Add button */

.add-finance-btn {
    color: white;
    border: 0;
    outline: none;
    background: darkgreen;
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
    margin:0 1rem 1.5rem 1rem;
    max-width: 5rem;
    cursor: pointer;
}

@media (max-width:700px) {
    .paymentList {
        width: 100%;
    }
    #payment-details {
        width: 18.2rem;
    }
}